
.hero-img {
	background-image: url('../images/lbp-39.jpg');

	@include bp(mobile) {
		//border-bottom: 4px solid #FFF;
		background-size: 120%;
		background-position: center top;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.5);
		}
	}
}

.persimmon {
	background-image: url('../images/persimmon.jpg');
	background-position: bottom;
}

.pool {
	background-image: url('../images/lbp-60.jpg');
	background-position: bottom;
}

.hero {
	width: 80%;
	margin: 0 auto;
	padding: 80px 40px;
	position: absolute;
	color: #FFF;
	left: 50%;
	@include transform(translateX(-50%));

	@include bp(mobile) {
		width: 100%;
		padding: 5%;
		color: #444;
	}
}

// .head-img {
// 	margin: 10px auto;
// 	display: block;
// }


// .heading-img {
// 	max-width: 450px;
// 	width: 100%;
// }

.grid {
	margin: 50px auto;
	@include clearfix;

	@include bp(mobile) {
		display: none;
	}
}

.grid-col {
	width: 32%;
	margin-right: 2%;
	float: left;

	&:last-child {
		margin-right: 0;
	}

	img {
		width: 100%;
		
	}
}

.grid-item {
	position: relative;
	margin-bottom: 20px;
	line-height: 0;

	.hover-color {
		@include opacity(0);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 83, 59, 0.8);
		@include transition(opacity 0.5s);

		&:hover {
			@include opacity(1);
			@include transition(opacity 0.5s);
		}
	}

	p {
		color: #FFF;
		@include transform(translate(-50%, -50%));
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 1em;
		width: 75%;
		line-height: 1.5em;
	}

}

.heart-img {
	display: block;
	margin: 20px auto;
	width: 100%;
	max-width: 200px;
}