.ls-about {
	background-color: #FFF;
	padding: 100px 20px;
	position: relative;
	text-align: center;
	

	.text-wrap {
		max-width: 690px;
		margin: 0 auto;
	}
}

.about-intro {
	text-transform: uppercase;
	font-size: rem(16);
	margin-bottom: 5px;
	letter-spacing: 1px;
}