@font-face {
  font-family: 'Matchmaker';
  src: url('../fonts/Matchmaker-Regular-webfont.eot');
  src: url('../fonts/Matchmaker-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Matchmaker-Regular-webfont.woff2') format('woff2'),
       url('../fonts/Matchmaker-Regular-webfont.woff') format('woff'),
       url('../fonts/Matchmaker-Regular-webfont.ttf') format('truetype'),
       url('../fonts/Matchmaker-Regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heartwell';
  src: url('../fonts/heartwell.eot');
  src: url('../fonts/heartwell.eot?#iefix') format('embedded-opentype'),
       url('../fonts/heartwell.woff') format('woff'),
       url('../fonts/heartwell.ttf') format('truetype'),
       url('../fonts/heartwell.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'social-icon';
  src: url('../fonts/social-icon.eot?16840472');
  src: url('../fonts/social-icon.eot?16840472#iefix') format('embedded-opentype'),
       url('../fonts/social-icon.woff?16840472') format('woff'),
       url('../fonts/social-icon.ttf?16840472') format('truetype'),
       url('../fonts/social-icon.svg?16840472#social-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}