.hero {
	background-image: url('../images/ocean.jpg');
	background-size: cover;
	// background-position: bottom;
	width: 100%;
	height: 600px;
	// border: 1px solid $dark-text;
	text-align: center;
	padding: 4%;
}

// .hero-sub-bar {
// 	background-color: $dark-text;
// 	height: 50px;
// }