
.feature-text {
	h1 {
		padding-top: 24%;
		color: #FFF;

		@include breakpoint(s-mobile) {
			padding-top: 64%;
		}
	}

	h2 {
		color: #000;
	}
}

.icon {
	color: #000;

	&:hover {
		color: #FFF;
	}
}

// .side-drawer {
// 	background-image: url('../images/hair.jpg');
// 	background-size: cover;
//   background-position: center bottom;
// }

