
.feature-text {
	h1 {
		padding-top: 24%;
		color: $the-accent;

		@include breakpoint(s-mobile) {
			padding-top: 64%;
		}
	}

	h2 {
		color: #000;
	}
}

.open-trigger {
	color: #000;
}

.side-drawer {
	background-color: $the-accent;

	.open-trigger {
		color: #FFF;
	}
}

.icon {
	color: #000;

	&:hover {
		color: $the-accent;
	}
}

.icon-cancel{
	&:before {
		top: 12px;
	}
}

// .side-drawer {
// 	background-image: url('../images/hair.jpg');
// 	background-size: cover;
//   background-position: center bottom;
// }

