.full-img { 
	position: relative;
	background-position: center bottom;
}

.feature-text {
	padding-top: 12%;
	h1 {
		color: $the-accent;

		@include breakpoint(s-mobile) {
			padding-top: 64%;
		}
	}

	h2 {
		color: #000;
	}
}

.icon {
	color: $dark-text;

	&:hover {
		color: $the-accent;
	}
}

.content-wrap {
	@include clearfix;
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
}

.about {
	padding: 100px 20px;
	color: $white;
	position: relative;
	// background-color: #000;

	h2 {
		// font-family: Georgia, serif;
		font-family: 'Heartwell', $font-sans;
		font-size: rem(50);
		font-style: italic;
		text-transform: none;
		font-weight: normal;
		letter-spacing: 0px;
		margin-bottom: 15px;
	}
}

.about-img {
	float: left;
	width: 30%;
	margin-right: 3%;
}

.about-intro {
	text-transform: uppercase;
	font-size: rem(14);
	margin-bottom: 5px;
}

.about-text {
	position: absolute;
	// left: 58%;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background: #FFF;
	color: #000;
	padding: 70px;
	width: 45%;
	box-shadow: -2px 3px 4px 0px rgba(0,0,0,0.25);
}

.bg-panel {
	@include panel-size(4px, 3px)
	background-image: url('../images/ocean-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.floating-window {
	@include panel-size(5px, 3px);
	width: 80%;
	left: 10%;
	top: 10%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 6px;
	border: 3px solid rgba(255, 255, 255, 0.8);

	.browser-pane {
		background-color: #FFF;
		padding: 5px 0 5px 20px;

		span {
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: rgba(0, 0, 0, 0.2);
			margin: 0 2px;
		}
	}

	.top-nav {
		@include clearfix;
		background-color: rgba(255, 255, 255, 0.4);
		text-align: right;
		padding: 0 20px;
	}

	.floating-link {
		padding: 25px 20px;
		display: inline-block;
		color: #ddd;
		text-transform: uppercase;
		font-size: rem(13);
		letter-spacing: 1px;
	}

	.floating-logo {
		font-family: 'Heartwell', $font-sans;
		text-transform: none;
		color: #ddd;
		float: left;
		padding: 20px 0 24px 20px;
		font-size: rem(24);
	}

	.floating-text {
		background-color: rgba(255, 255, 255, 0.6);
		width: 60%;
		margin: 8% auto;
		padding: 6%;
		color: #ddd;
		
		h2 {
			// font-family: Georgia, serif;
			font-family: 'Heartwell', $font-sans;
	    font-size: 3.125rem;
	    font-style: italic;
	    text-transform: none;
	    font-weight: normal;
	    letter-spacing: 0px;
	    margin-bottom: 15px;
		}

		p {
			font-size: rem(13);
		}
	}
}

footer {
	position: relative;
	text-align: center;
	transform: none;
	background: $white;
	box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.3);
	padding: 60px;

	p {
		font-size: rem(12);
		margin: 40px 0 0;
	}
}

.center-badge {
	width: 80px;
	height: 80px;
	padding: 7px;
	border-radius: 50%;
	border: 5px solid #FFF;
	background-color: $dark-text;
	position: absolute;
	left: 50%;
	top: -40px;
	transform: translateX(-50%);
	transition: background-color 0.35s;

	.icon {
		color: #FFF;
		font-size: 40px;

		&:hover {
			color: #FFF;
		}
	}

	&:hover {
		background-color: $the-accent;
	}
}

.social-wrap {
	border-right: 1px solid $dark-text;
	display: inline-block;
	margin-right: 40px;
	padding: 5px 20px 5px 0;
}

.icon {
	vertical-align: middle;
	font-size: 20px;
	margin-right: 20px;

	&:hover {
		color: #000;
		border-bottom: none;
	}
}

.icon-instagram {
	font-size: 22px;
}

.icon-doc-text-inv {
	font-size: 19px;
}

.res-buton {
	border: 2px solid $dark-text;
	border-radius: 2px;
	padding: 10px;
	display: inline-block;
	text-transform: uppercase;
	font-size: rem(13);
	letter-spacing: 1px;
	// float: right;
	transition: color 0.35s, background-color 0.35s;

	span {
		margin-right: 10px;
		font-size: 15px;
		height: 15px;
	}

	&:hover {
		background: $dark-text;
		color: #FFF;
	}
}

.resume-panel {
	position: static;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3) inset;
	background-color: #a6cfd8;
	padding: 50px 0;

	&.lower-panel-show {
		display: block;
	}
}