// background image
.full-img {
	background-image: url('../images/red-beard.jpg');
	// change to this image if you want :P background-image: url('../images/stephen.jpg');
	background-position: 37% center;
}

//name and tile text colors n such
.feature-text {
	display: inline-block;
	text-align: left;
	padding: 50px;

	@include breakpoint(s-mobile) {
		text-align: center;
		display: block;
	}
	
	h1 {
		color: #FCC921;
		font-size: 5em;
	}

	h2 {
		color: #FFF;
	}
}

//the "about" link that opens the drawer
.open-trigger {
	font-weight: 700;
	padding: 50px;
	// background-color: rgba(255, 255, 255, 0.5);

	&:before {
		top: 41px;
	}

	@include breakpoint(s-mobile) {
		color: #FFF;
		padding: 20px 20px 10px;

		&:before {
			top: 12px;
		}
	}
}

//social icons
.icon {
	color: #FFF ;

	&:hover {
		color: #FCC921;
	}
}

//side drawer with the "about me" text
.side-drawer {
	background-color: #A12D0E;

	.open-trigger {
		display: none;

		@include breakpoint(s-mobile) {
			display: block;
		}
	}
}
