$font-sans: 'Lato', sans-serif;

h1 {
	font-size: 4em;
	line-height: 1em;
	font-family: 'Heartwell', $font-sans;
	z-index: 1;
	position: relative;
}

h2 {
	font-family: $font-sans;
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 2px;
	font-weight: 900;
	margin-bottom: 10px;
}

p {
	font-family: $font-sans;
	font-weight: 300;
	font-size: 15px;
	line-height: 140%;
	margin-bottom: 10px;
}

a {
	color: $dark-text;
	text-decoration: none;
}