@import 'reset';
@import 'helpers/social-icon';
@import 'helpers/fonts';
@import 'helpers/variables';
@import 'typography';
@import 'helpers/mixins';

.spence {
	@import 'resume';
	@import 'stub-site';

	margin: 0 auto;
	font-family: $font-sans;
	color: $dark-text;
	height: 100%;
	@include clearfix;
}

html, body {
	height: 100%;
	background-color: $the-accent;
}

#brian {
	@import 'brian';
}

#lauren {
	@import 'lauren';
}

#the {
	@import 'the';
}

#stephen {
	@import 'stephen';
}