@import 'reset';
@import 'social-icon';
@import 'fonts';
@import 'variables';
@import 'typography';
@import 'mixins';

.hill {
	@import 'stub-site';
	margin: 0 auto;
	font-family: $font-sans;
	color: $dark-text;
	height: 100%;
	@include clearfix;
}

html, body {
	height: 100%;
}

#stephen {
	@import 'stephen';
	background-color: #A12D0E;
}