@font-face {
  font-family: 'Heartwell';
  src: url('../fonts/heartwell.eot');
  src: url('../fonts/heartwell.eot?#iefix') format('embedded-opentype'),
       url('../fonts/heartwell.woff') format('woff'),
       url('../fonts/heartwell.ttf') format('truetype'),
       url('../fonts/heartwell.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
