@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1160px) { @content; }
  } @else if $point == s-desktop {
    @media (max-width: 1159px)  { @content; }
  } @else if $point == tablet {
    @media (max-width: 979px)  { @content; }
  } @else if $point == mobile {
    @media (max-width: 767px)  { @content; }
  } @else if $point == s-mobile {
    @media (max-width: 480px)  { @content; }
  } @else {
    @media (max-width: #{$point})  { @content; }
  }
}


@mixin clearfix() {
  &:after {
  	clear: both;
  	content: "";
  	display: table;
  }
}

@function em($pixels) {
  @return #{$pixels/16}em
}

@function rem($pixels) {
  @return #{$pixels/16}rem
}


@mixin panel-size($width, $height) {
  position: relative;
  display: inline-block;
  width: 100%;

  &:after {
    padding-top: $height / $width * 100%;
    content: '';
    display: block;
  }
}

.panel-inner-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

//The Mixin -- from https://codepen.io/maxakohler/pen/mAxHz
//==========

@mixin long-shadow($type, $color, $length, $fadeout: true, $skew: false, $direction: right){
  $shadow: '';
  @if $skew == false or $type == text{
    @if $direction == right {
      @for $i from 0 to $length - 1 {
        $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $color + ',';
      }
    }
    @if $direction == left {
      @for $i from 0 to $length - 1 {
        $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + $color + ',';
       }
      }
     }
        
   @if $fadeout == true{
    @for $i from 1 to $length - 1 {
      @if $type == text or $skew == false{
        @if $direction == right{
          $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' +       rgba($color, 1 - $i / $length) + ',';
        }
        @if $direction == left{
          $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' +       rgba($color, 1 - $i / $length) + ',';
        }
      }
      @if ($type == box) and $skew == true{
        @if $direction == right {
          $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $i * .2 + 'px ' + rgba($color, 1 - $i / $length) + ',';
        }
        @if $direction == left {
          $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + $i * .2 + 'px ' + rgba($color, 1 - $i / $length) + ',';
        }
      }
  }
  $shadow: $shadow + $length + 'px ' + $length + 'px 0 ' + rgba($color, 0);
 }
 @if $fadeout == false{
   @if $skew == true and ( $type == box ){
     @for $i from 0 to $length - 1 {
            $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $i * .1 + 'px ' + $color + ',';
      }
   }
    $shadow: $shadow + $length + 'px ' + $length + 'px 0 ' + rgba(0,0,0,0);
 }
 $shadow: unquote($shadow);
  @if $type == 'box' {box-shadow: $shadow;}
  @if $type == 'text' {text-shadow: $shadow;}
}

